/* 1.0 STYLES GENERAUX */

body{
    background:url("../img/bg-home.jpg");
    background-repeat: no-repeat;
    margin:0;
}

/* 2.0 HEADER */

header {
    height:5%;
    background:rgb(0, 0, 0, 0.4);
    margin:0;
}

/* navigation */
nav {
    display:flex;
}

ul {
    margin:0;
    display: flex;
}

ul li {
    list-style-type: none;
    color:white;
    text-transform: uppercase;
    padding-left:1%;
}